.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.app-header {
  font-size: calc(10px + 2vmin);
  padding: 20px;
}

.search-form, .search-controls {
  display: flex;
  flex-direction: row;
  width: 1000px;
  padding: 15px;
}

.search-controls {
  justify-content: space-around;
}

.search-form input[type=text] {
  flex: 1 1 auto;
}

.search-form button {
  flex: 0 0 120px;
  height: 30px;
  width: 120px;
  font-size: 18px;
}

.control input[type=number] {
  width: 50px;
}

.no-results {
  font-size: 25px;
}

.search-results {
  list-style-type: none;
  width: inherit;
  max-height: 300px;
  overflow-y: scroll;
  border: 1px black solid;
}